





.apage100 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 20px;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;


}






.acard100 {
  width: 300px;
  height: 152px;

  overflow: hidden;
  position: relative;
}




.asocialbtn {
  position: relative;

}

.acardimg100 {
  width: 139px;
  height: 150px;

  float: left;

}

.acardnametitle {
  width: 50%;
  height: 100%;

  float: right;


}



.acardbody100 {
  width: 100%;
  height: 150px;
  top: 0;
  right: -100%;
  position: absolute;
  opacity: 0.77;
  background: #065593;
  box-shadow: '5px 5px 5px ';
  filter: 'blur(5px)';

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: 650ms;
}

.acard100:hover .acardbody100 {
  right: 0;
}






.aimage {
  overflow: hidden;
  transition: 0.5s ease;

  width: 300px;
  height: 150px;
}

.aimage:hover {
  transform: scale(1.1);
  overflow: hidden;
  transform-origin: 100% 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

@media (min-width:1101px) {
  .sideCard {
    width: 98vw;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;


  }

  .whoWeAre {
    width: 40vw;
  }

  .button {
     width: 20vw;
    left: 70vw;
    top: 45%;

   
  }

  .image {
    width: 70%;
    height: 70%;
    border-radius: 509px;
    overflow: hidden;
    justify-content: center;
    align-Items: center
  }

  .retext {
    width: 60vw;

  }
}



@media (max-width:1100px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .sideCard {
    
    width: 98%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .whoWeAre {
    width: 88vw;
  }

  .image {
    
    width: 70%;
    height: 70%;
    border-radius: 509px;
    overflow: hidden;
    justify-content: center;
    align-Items: center
  }
  .button {
    width: 20vw;
   

  
 }



}

@media (max-width: 826px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
  .button {
    padding: 20px;
    width:300px;
    
  }
  .image {
    
    width: 80%;
    height: 80%;
    border-radius: 509px;
    overflow: hidden;
    justify-content: center;
    align-Items: center
  }


}

@media(max-width:600px) {
  

  .button {
    padding: 20px;
    width:300px;
    
  }

  .retext {
    width: 90%;
  }
  .image {
    
    width: 80%;
    height: 80%;
    border-radius: 509px;
    overflow: hidden;
    justify-content: center;
    align-Items: center
  }

  
}